.adminNav-container {
  display: flex;
  background-color: #646464;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.adminNav-header {
  font-weight: 600;
  margin-left: -160px;
}
